body, html, h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

#header {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
}

#description {
  margin: 20px;
  text-align: center;
  font-size: 20px;
}

.charts {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.row:after {
  content: '';
  clear: both;
  display: table;
}

.chart-wrapper {
  height: 230px;
  width: 300px;
  margin-bottom: 20px;
  display: inline-block;
}

.code {
  float: right;
  width: 350px;
  max-height: 200px;
}

#footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
  text-align: center;
}

#code-block {
  margin: 10px auto;
  width: 80%;
}

#code-block h3 {
  text-align: center;
}
